{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Real time entities</h1>

    {{form(form)}}

    <p>Show recipes :</p>
    <ul id="logs">
        {% for recipe in recipeList %}
            <li>{{recipe.title}}</li>
        {% endfor %}
    </ul>
</div>

    <script>
        const url = new URL('http://127.0.0.1:8001/.well-known/mercure', window.origin);

        url.searchParams.append('topic', 'http://127.0.0.1:8000/api/recipes/{id}');
        url.searchParams.append('topic', 'https://127.0.0.1:8000/api/recipes/{id}');
        // url.searchParams.append('topic', 'http://127.0.0.1:8000/api/recipes/34');
        // url.searchParams.append('topic', 'https://127.0.0.1:8000/api/recipes/34');

        const eventSource = new EventSource(url);

        console.log('test')

        // The callback will be called every time an update is published
        eventSource.onmessage = e => {
            console.log("data : ", event.data);
            const data = JSON.parse(event.data)
            console.log("data JSON: ", data);
            const li = document.createElement('li')
            li.innerText = data.title
            logs.append(li)
        } // do something with the payload
    </script>

{% endblock %}
